@model UserModel
@{
    ViewData["Title"] = "Delete User";
}

<div class="text-center">
    <h1 class="text-center display-4">Do you really want to delete the user @Model.Name ?</h1>
</div>

<a class="btn btn-primary" role="button" asp-controller="AdminPanel" asp-action="Index">Cancel</a>
<a class="btn btn-danger" role="button" asp-controller="AdminPanel" asp-action="Delete" asp-route-id="@Model.UserId">Confirm</a>




