@model UserModel
@{
    ViewData["Title"] = "Edit User";
}

<h1 class="text-center">Edit User</h1>


<br />

<form asp-controller="AdminPanel" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" asp-for="Name" class="form-control" id="name" placeholder="Enter your Username">
    </div>

    <div class="form-group">
        <label for="Username">Username:</label>
        <input type="Username" asp-for="Username" class="form-control" id="Username" placeholder="Enter your Username">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" asp-for="Email" class="form-control" id="email" placeholder="Enter your Email">
    </div>

    <button type="submit" class="btn btn-primary btn-block">Submit</button>
    <a role="button" class="btn btn-secondary btn-block" asp-controller="AdminPanel" asp-action="Index">Back</a>
</form>
  



