@{
    ViewData["Title"] = "Admin Panel";
}

<div class="text-center">
    <h2>Admin Panel</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto@hotmail.com</td>
                <td>44</td>
                <td>
                    <div class="btn-group" role="group" aria-label="example">
                        <a role="button" class="btn btn-success">Accept</a>
                        <a role="button" class="btn btn-warning">Restrict Mode</a>
                        <button role="button" class="btn btn-danger">Remove</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton@gmail.com</td>
                <td>44</td>
                <td>
                    <div class="btn-group" role="group" aria-label="example">
                        <a role="button" class="btn btn-success">Accept</a>
                        <a role="button" class="btn btn-warning">Restrict Mode</a>
                        <button role="button" class="btn btn-danger">Remove</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>