@model AdminPanelViewModel

@{
    ViewData["Title"] = "Admin Panel";
}

            <a role="button" href="@Url.Action("Create", "AdminPanel")" class="btn btn-secondary btn-sm" style="margin-right: 5px;">New User</a>
            <a role="button" href="@Url.Action("ExportToCSV", "AdminPanel")" class="btn btn-secondary btn-sm">Export Data</a>



