@model BlogASP.Models.ArticleModel

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>

    <div>
        <label asp-for="Category"></label>
        <input asp-for="Category" />
    </div>

    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
    </div>

    <div>
        <label asp-for="isPrivate">Visibility</label>
        <br />
        <input type="radio" asp-for="isPrivate" value="true" /> Private
        <input type="radio" asp-for="isPrivate" value="false" /> Public
    </div>
    
    <button type="submit">Criar Artigo</button>
</form>