@model BlogASP.Models.ArticleModel

<div class="text-center">
    <h2>Article Details</h2>

    <div class="card col-4">
        <img src="https://picsum.photos/200/300" width="361" class="card-img-top" alt="..." height="240">
        <div class="card-body">
            <h4 class="card-title">@Model.Category</h4>
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</div>
