@{
    ViewData["Title"] = "Article List";
}

<div class="text-center">
    <h2>Articles Preview</h2>
    <div class="card col-4">
        <img src="https://www.canetoad.co.uk/wpimages/wp47e0b011_05_06.jpg" width="361" class="card-img-top" alt="..." height="240">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Card Description</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago (updated_at)</small></p>
            <a role="button "class="text-Dark" asp-area="" asp-controller="SelectedArticle">Full Article</a>
        </div>
    </div>
</div>