@{
    ViewData["Title"] = "Article List";
}

<div class="text-center">
    <h2>Articles Preview</h2>
    <div class="card mb-3">
        <img src="Img/test.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Short summary of the article to be presented.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a role="button "class="text-Dark" asp-area="" asp-controller="SelectedArticle">Full Article</a>
        </div>
    </div>
    <div class="card mb-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Short summary of the article to be presented.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a role="button "class="text-Dark" asp-area="" asp-controller="SelectedArticle">Full Article</a>
        </div>
    </div>
    <div class="card mb-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Short summary of the article to be presented.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a role="button "class="text-Dark" asp-area="" asp-controller="SelectedArticle">Full Article</a>
        </div>
    </div>
</div>