@model UserModel
@{
    ViewData["Title"] = "Sign Up";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <style>
        body {
            background: url('https://cdn.discordapp.com/attachments/1078803543512858745/1172626709246377996/wireframe-low-poly-geometry-abstract-wallpaper-preview.png?ex=656100b9&is=654e8bb9&hm=7aada90c7ac1b7dd429976168303899428c56b56488b3f3bfbba663876afdbf6&') no-repeat center center fixed;
            background-size: cover;
        }

        .container {
            z-index: 1;
            position: relative;
        }

        .card {
            background: rgba(255, 255, 255, 0.8);
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h2 class="mb-4">Sign Up</h2>
                        <form asp-controller="SignUp" asp-action="Create" method="post" class="text-left">

                            <div class="form-group">
                                <label for="Name" class="font-weight-bold">Name:</label>
                                <input type="text" asp-for="Name" class="form-control" placeholder="Enter your Name" required>
                            </div>

                            <div class="form-group">
                                <label for="Username" class="font-weight-bold">Username:</label>
                                <input type="text" asp-for="Username" class="form-control" placeholder="Enter your Username" required
                                       pattern="^[a-zA-Z0-9_]{5,}$"
                                       title="Username must contain only letters, numbers, and underscores and must be at least 5 characters long.">
                            </div>

                            <div class="form-group">
                                <label for="Email" class="font-weight-bold">Email:</label>
                                <input type="text" asp-for="Email" class="form-control" placeholder="Enter your Email" required
                                       pattern="^[A-Za-z0-9._%+-]+[.][A-Za-z0-9.-]+[.][A-Za-z]{2,6}$"
                                       title="Invalid email format. Please enter a valid email address.">
                            </div>

                            <div class="form-group">
                                <label for="Password" class="font-weight-bold">Password:</label>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Enter your Password" required
                                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{5,}$"
                                       title="Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character, and must be at least 5 characters long.">
                            </div>

                            <div class="form-group">
                                <label for="ConfirmPassword" class="font-weight-bold">Confirm Password:</label>
                                <input type="password" id="ConfirmPassword" class="form-control" placeholder="Confirm your Password" required
                                       data-val="true"
                                       data-val-equalto="The password and confirmation password do not match."
                                       data-val-equalto-other="Password"
                                       data-val-equalto-rules="Password">
                            </div>

                            @if (ViewData.ContainsKey("CustomErrors"))
                            {
                                <div class="alert alert-danger mt-4">
                                    <ul style="list-style-type: none;">
                                        @foreach (var error in ViewData["CustomErrors"] as List<string>)
                                        {
                                            <li>@error</li>
                                        }
                                    </ul>
                                </div>
                            }



                            <button type="submit" class="btn btn-primary btn-block">Submit</button>

                            <a role="button" class="btn btn-secondary mt-3 w-100" asp-controller="Home" asp-action="Index">Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>