@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <style>
        body {
            background: url('https://wallpaperaccess.com/full/796854.jpg') no-repeat center center fixed;
            background-size: cover;
            min-height: 100vh; /* Set minimum height to full viewport height */
            margin: 0; /* Remove default margin to ensure full coverage */
            padding-bottom: 20px; /* Add some bottom padding */
        }

        .login-container {
            z-index: 1;
            position: relative;
        }

        .card {
            background: rgba(255, 255, 255, 0.8);
        }
    </style>
</head>
<body>

    <div class="login-container">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-body text-center">
                            <h2 class="mb-4">Login</h2>
                            <form asp-controller="Login" asp-action="Login" method="post">
                                <div class="form-group">
                                    <label for="inputUsername" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="inputUsername" name="Username" placeholder="JoseAntonio444">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="inputPassword" name="Password" placeholder="********">
                                </div>
                                <div class="col-12 mt-3">
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </div>
                            </form>

                            @if (TempData.ContainsKey("CustomError"))
                            {
                                <div class="alert alert-danger mt-4">
                                    @TempData["CustomError"]
                                </div>
                            }
                            else
                            {
                                if (ViewData.ModelState.ContainsKey(string.Empty))
                                {
                                    <div class="alert alert-danger mt-4">
                                        @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                                        {
                                            @error.ErrorMessage
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
