@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
   <h2>Login</h2>
    <form class="row">
        <div>
            <label for="inputUserName" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUserName" placeholder="JoseAntonio444"><br>
        </div>
        <div>
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="********"><br>
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>