@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <form class="row">
        <div>
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="José António"><br>
        </div>
        <div>
            <label for="inputAge" class="form-label">Age</label>
            <input type="text" class="form-control" id="inputAge" placeholder="50"><br>
        </div>
        <div>
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="1234@gmail.com"><br>
        </div>
        <div>
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="********"><br>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div>