@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <br>
    
    <img src="    https://cdn.uconnectlabs.com/wp-content/uploads/sites/7/2020/07/Blog-Concept-Art-840x560.jpg?v=100802" alt="TechInSight Logo">

    <p>🚀 Explore the vast universe of technology with TechInSight, your go-to destination for cutting-edge insights, expert analyses, and the latest trends in the world of IT.</p>

    <p>At TechInSight, we're not just a blog; we're a community of tech enthusiasts, industry experts, and curious minds united by our passion for innovation. Whether you're an IT professional, a coding novice, or just someone intrigued by the ever-evolving tech landscape, you're in the right place.</p>

    <h2>What TechInSight Offers:</h2>
    <ul>
        <p>🔍 <strong>In-Depth Articles:</strong> Dive into thought-provoking articles written by industry experts. From programming paradigms to cybersecurity best practices, we cover it all.</p>
        <p>🗓️ <strong>Browse by Year and Month:</strong> Our intuitive navigation menu allows you to explore articles chronologically. Easily find what you're looking for based on the date of publication.</p>
        <p>🌐 <strong>Search Functionality:</strong> Looking for something specific? Use our powerful search feature to find articles on your favorite tech topics.</p>
        <p>👤 <strong>User-Friendly Registration:</strong> Join our community by creating an account. Registration is simple and gives you access to exclusive content and features.</p>
        <p>🔐 <strong>Secure Access:</strong> Some articles are reserved for our validated users. Register today and unlock a world of premium content.</p>
    </ul>

    <h2>TechInSight Back Office:</h2>
    <ul>
        <p>🛠️ <strong>Article Management:</strong> Our backend system allows us to seamlessly create, edit, and manage articles. Expect regular updates on the latest tech breakthroughs.</p>
        <p>🔒 <strong>User Management:</strong> We take your privacy seriously. Our backend system ensures secure user management and validates accounts for a trustworthy community.</p>
    </ul>

    <h2>Stay Engaged:</h2>
    <ul>
        <p>🌟 <strong>Rate and Comment:</strong> Share your thoughts! Rate articles and leave comments to engage with our authors and fellow readers.</p>
        <p>📈 <strong>Popular Articles:</strong> Discover what's trending in the tech world. Our "Popular Articles" section showcases the most-read and highly-rated content.</p>
    </ul>

    <p><strong>Join the TechInSight community today and embark on a journey of continuous learning, exploration, and technological brilliance. Let's navigate the future of IT together! 🚀</strong></p>


</div>
