@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <img src="Img/test.jpg" class="card-img-top" alt="...">
    <div>
        <label for="articleTitle">This is the title of the article</label>
        <label for="articleBody">
            A inovação tecnológica está na vanguarda do nosso mundo em constante evolução. Este artigo examina o papel transformador da tecnologia em nossa sociedade, explorando uma série de avanços recentes que estão moldando o nosso futuro. Desde a inteligência artificial revolucionando a automação e a análise de dados até a Internet das Coisas conectando todos os aspectos de nossas vidas, a tecnologia está redefinindo a maneira como vivemos e trabalhamos.
            Empresas e indivíduos estão adotando abordagens cada vez mais criativas para enfrentar desafios complexos e impulsionar a eficiência. A computação em nuvem está democratizando o acesso a recursos poderosos, permitindo inovações em escala global. Além disso, a segurança cibernética está na vanguarda da proteção de dados e informações críticas em um mundo digital interconectado.
            À medida que a tecnologia continua a evoluir, também surgem questões éticas e sociais, que devem ser abordadas. Este artigo aborda como a inovação tecnológica oferece oportunidades emocionantes, mas também levanta questões fundamentais sobre privacidade, segurança e equidade. O futuro será moldado pela forma como enfrentamos esses desafios e aproveitamos o potencial infinito da inovação tecnológica.
        </label>
    </div>
    <div>
        <h2>More articles that may be of interest</h2>
        <div class="card mb-3">
            <img src="Img/test.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Short summary of the article to be presented.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a role="button " class="text-Dark" asp-area="" asp-controller="SelectedArticle">Full Article</a>
            </div>
        </div>
        <div class="card mb-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Short summary of the article to be presented.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a role="button " class="text-Dark" asp-area="" asp-controller="SelectedArticle">Full Article</a>
            </div>
        </div>
        <div class="card mb-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Short summary of the article to be presented.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a role="button " class="text-Dark" asp-area="" asp-controller="SelectedArticle">Full Article</a>
            </div>
        </div>
    </div>
</div>